
{%- load_yaml as base_defaults %}

Debian:
  pkgs:
    - rng-tools
RedHat:
  pkgs:
    - rng-tools
Gentoo:
  pkgs:
    - sys-apps/rng-tools
  configfile:
    - /etc/conf.d/rngd

{%- endload %}

{%- set server = salt['grains.filter_by'](base_defaults, merge=salt['pillar.get']('rngd:server')) %}
