# -*- coding: utf-8 -*-
# vim: ft=jinja

{% import_yaml 'rng-tools/defaults.yaml' as default_settings %}

{% set os_family_map = salt['grains.filter_by']({
        'Gentoo': {
            "pkg" : 'sys-apps/rng-tools',
        },
        'Arch': {
            "pkg" : 'rng-tools',
        },
        'Ubuntu': {
            "pkg" : 'rng-tools',
            "configfile" : '/etc/default/rng-tools',
            "svc" : "rng-tools",
        },
  }
  , grain="os_family"
  , merge=salt['pillar.get']('rngtools:lookup'))
%}

{% do default_settings.rngtools.update(os_family_map) %}

{% set rngtools = salt['pillar.get'](
        'rngtools',
        default=default_settings.rngtools,
        merge=True
    )
%}

