# -*- coding: utf-8 -*-
# vim: ft=jinja

{%- import_yaml 'rng-tools/defaults.yaml' as defaults with context -%}
{%- import_yaml 'rng-tools/osmap.yaml' as osmap with context -%}
{%- import_yaml 'rng-tools/osnamemap.yaml' as osnamemap with context -%}

set rngtools = salt['grains.filter_by'](
    defaults,
    merge=salt['grains.filter_by'](
      osmap,
      grain='os_family',
      merge=salt['grains.filter_by'](
        osnamemap,
        grain='os',
        merge=salt['pillar.get']('rngtools:lookup', {}),
      ),
    ),
    base='rng-tools',
)
%}
